$theme-color: #6351ce;
$dark-bg: #1a1a1a;
$light-text: #f0f0f0;

body {
  background-color: $dark-bg;
  color: $light-text;
}

.card {
  background-color: $theme-color;
  border: none;
  color: $light-text;

  .card-title {
    color: $light-text;
  }

  .card-text {
    color: $light-text;
  }

  .card-body {
    // background-color: darken($theme-color, 10%);
  }
}

.btn-primary {
  background-color: $theme-color;
  border-color: $theme-color;

  &:hover {
    background-color: darken($theme-color, 10%);
    border-color: darken($theme-color, 10%);
  }
}

.btn-secondary {
  background-color: lighten($dark-bg, 10%);
  border-color: lighten($dark-bg, 10%);

  &:hover {
    background-color: lighten($dark-bg, 15%);
    border-color: lighten($dark-bg, 15%);
  }
}

.btn-light {
  background-color: lighten($dark-bg, 20%);
  border-color: lighten($dark-bg, 20%);
  color: $light-text;

  &:hover {
    background-color: lighten($dark-bg, 25%);
    border-color: lighten($dark-bg, 25%);
  }
}

.modal-content {
  background-color: $dark-bg;
  color: $light-text;
}

.modal-header,
.modal-footer {
  border-color: $theme-color;
}

.btn-close {
  background-color: $light-text;

  &:focus {
    box-shadow: none;
  }
}

.modal-image {
  background-color: darken($theme-color, 10%);
}

.product-image {
  max-height: 300px;
  object-fit: cover;
}

h5 {
  color: $theme-color;
}
