<div class="profile-container container rounded-5" *ngIf="result">
  <h2 class="profile-title mt-5 text-muted">Profile Info</h2>
  <div class="profile-card mt-5 card"> <!-- Added 'card' class -->
    <div class="profile-image-container">
      <img
        class="profile-image img-fluid rounded-circle" 
        [src]="result.profilePicture || defaultProfile"
        alt="Profile Picture"
      />
    </div>
    <div class="profile-details card-body"> <!-- Added 'card-body' class -->
      <div class="profile-detail">
        <span class="detail-label font-weight-bold">First Name:</span> <!-- Added 'font-weight-bold' class -->
        <span class="detail-value">{{ result.firstName }}</span>
      </div>
      <div class="profile-detail">
        <span class="detail-label font-weight-bold">Last Name:</span> <!-- Added 'font-weight-bold' class -->
        <span class="detail-value">{{ result.lastName }}</span>
      </div>
      <div class="profile-detail">
        <span class="detail-label font-weight-bold">Email:</span> <!-- Added 'font-weight-bold' class -->
        <span class="detail-value">{{ result.email }}</span>
      </div>
      <div class="profile-detail">
        <span class="detail-label font-weight-bold">Role:</span> <!-- Added 'font-weight-bold' class -->
        <span class="detail-value">{{ result.role }}</span>
      </div>
      <div class="profile-detail">
        <span class="detail-label font-weight-bold">Contact Details:</span> <!-- Added 'font-weight-bold' class -->
        <span class="detail-value">{{ result.mobile }}</span>
      </div>
    </div>
    <div class="profile-footer card-footer"> <!-- Added 'card-footer' class -->
      <button class="edit-button btn btn-primary" (click)="edit(result._id)">
        Edit Profile
      </button>
    </div>
  </div>
</div>
